# Python cache files
__pycache__/
*.py[cod]

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Environment variables
.env

# Database
db.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/

# IDE configurations
.idea/
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
