option_settings:
  aws:ec2:instances:
    RootVolumeType: gp3               # Ensure the root volume is using gp3
    DisableIMDSv1: true               # Disabling IMDSv1 for security
  aws:autoscaling:launchtemplate:
    BlockDeviceMappings: /dev/xvda=gp3 # Use gp3 for the root device
  aws:autoscaling:asg:
    EnableSpot: true                  # Enable spot instances to save costs

commands:
  install_packages:
    command: "yum install -y git python3-pip"
